<nb-card>
  <nb-card-header>
    Transaction History
  </nb-card-header>

  <nb-card-body>
    <ng2-smart-table [settings]="settings" [source]="" (deleteConfirm)="onDeleteConfirm($event)">
    </ng2-smart-table>
  </nb-card-body>
</nb-card>
