<div class="row">
  <div class="col-lg-6">
    <nb-card>
      <nb-card-header>Profile Setting</nb-card-header>
      <nb-card-body>
        <div class="input-group">
          <input type="text" placeholder="Username" class="form-control"/>
        </div>
        <div class="row full-name-inputs">
          <div class="col-sm-6 input-group">
            <input type="text" placeholder="First Name" class="form-control"/>
          </div>
          <div class="col-sm-6 input-group">
            <input type="text" placeholder="Last Name" class="form-control"/>
          </div>
        </div>
        <div class="input-group">
          <span class="input-group-addon success">@</span>
          <input type="text" class="form-control" placeholder="Email Address"/>
        </div>
        <div class="input-group input-group-rounded">
          <button style="cursor: pointer" type="submit" class="btn btn-primary">Save</button>
        </div>      
      </nb-card-body>
    </nb-card>  
  </div>

  <div class="col-lg-6">
    <nb-card>
      <nb-card-header>Change Password</nb-card-header>
      <nb-card-body>
        <div class="input-group input-group-border-only">
          <input type="text" class="form-control" placeholder="Current Password"/>
        </div>
        <div class="input-group input-group-border-only">
          <input type="text" class="form-control" placeholder="New Password">
        </div>
        <div class="input-group input-group-border-only">
          <input type="text" class="form-control" placeholder="Confirm Password">
        </div>
        <div class="input-group input-group-rounded">
          <button type="submit" class="btn btn-primary">Update Password</button>
        </div>  
      </nb-card-body>
    </nb-card>

    <nb-card class="hide">
      <nb-card-header>Validation States</nb-card-header>
      <nb-card-body>
        <div class="form-group">
          <input type="text" placeholder="Input with Success" class="form-control form-control-success">
        </div>
        <div class="form-group">
          <input type="text" placeholder="Input with Warning" class="form-control form-control-warning">
        </div>
        <div class="form-group">
          <input type="text" placeholder="Input with Danger" class="form-control form-control-danger">
        </div>
        <div class="form-group validation-checkboxes row">
          <nb-checkbox status="success" class="col-sm-4">Send Noti with Success</nb-checkbox>
          <nb-checkbox status="warning" class="col-sm-4">Checkbox with Warning</nb-checkbox>
          <nb-checkbox status="danger" class="col-sm-4">Checkbox with Danger</nb-checkbox>
        </div>
        <div class="form-group has-success">
          <input type="text" placeholder="Input with Success Icon" class="form-control form-control-success">
        </div>
        <div class="form-group has-warning">
          <input type="text" placeholder="Input with Warning Icon" class="form-control form-control-warning">
        </div>
        <div class="form-group has-danger">
          <input type="text" placeholder="Input with Danger Icon" class="form-control form-control-danger">
        </div>
      </nb-card-body>
    </nb-card>

    <nb-card class="hide">
      <nb-card-body class="demo-rating">
        <span class="rating-header">Rating</span>
        <div>
          <ngb-rating [(rate)]="starRate" max=5>
            <ng-template let-fill="fill">
              <span class="star fill" [class.filled]="fill === 100">
                <i class="ion-android-star" *ngIf="fill === 100"></i>
                <i class="ion-android-star-outline" *ngIf="fill !== 100"></i>
              </span>
            </ng-template>
          </ngb-rating>
          <span class="current-rate">{{ starRate }}</span>
        </div>
        <div>
          <ngb-rating [(rate)]="heartRate" max=5>
            <ng-template let-fill="fill">
              <span class="star fill" [class.filled]="fill === 100">
                <i class="ion-ios-heart" *ngIf="fill === 100"></i>
                <i class="ion-ios-heart-outline" *ngIf="fill !== 100"></i>
              </span>
            </ng-template>
          </ngb-rating>
          <span class="current-rate">{{ heartRate }}</span>
        </div>
      </nb-card-body>
    </nb-card>
  </div>
</div>
