
<div class="row">
 <div class="col-md-12">
    <nb-card>
      <nb-card-header>  </nb-card-header>
      <nb-card-body id="account-details-form">
        <form (ngSubmit)="onSubmit(securekeyForm)" #securekeyForm="ngForm" class="row">
            <div class="col-md-6">
      
              <div class="form-group row">
                <label class="col-sm-3 col-form-label" >Enter Code : </label>
                <div class="col-sm-9">
                <input nbInput ngModel oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"
                type="number" pattern="\d*" maxlength="5" type="number" name="securekey" class="form-control" placeholder="Enter the code you recieved on E-mail" required>
                
                </div>
              </div>
          

              <div class="form-group row">
                  <div class="offset-sm-3 col-sm-9" *ngIf="securekeyForm.valid">
                    <br />             
                      <button style="cursor: pointer" nbButton status="success"
                       fullWidth type="submit" (click)="back()"
                        class="btn btn-success offset-sm-8 col-sm-4">  
                        <a [href]="attachment" style="color: #ffffff;"> {{ text }} </a> 
                      </button>
                  </div>
                </div>
                </div>
                
        </form>        
      </nb-card-body>
    </nb-card>
  </div>
</div>
<toaster-container></toaster-container>