
 <div class="row">
  <div class="col-md-12">
     <nb-card>
       <nb-card-header>Subscription Status</nb-card-header>
       <nb-card-body id="account-details-form">
           <div *ngIf="!transactions?.length > 0">
                <p>You have not Subscribed to any Tool!</p>
           </div>
          <div class="col-md-7" *ngIf="transactions?.length > 0">
              <div class="form-group row">
                  <label class="col-sm-3 col-form-label" >Tool Subscribed</label>
                  <div class="col-sm-4">
                      <label class="col-form-label" style="font-weight:600;" for="">
                        {{transactions.product}}
                    </label>
                          
                  </div>
                </div>
  
                <div class="form-group row">
                    <label class="col-sm-3 col-form-label" >Subscription Period</label>
                    <div class="col-sm-9 row padding-unset">
                    <label class="col-sm-4 col-form-label" style="font-weight:600;" for=""><i class="fa fa-calendar"></i> {{transactions.startDate}}</label>
                     <label class="col-sm-4 col-form-label padding-right" style="font-weight:600;" for=""><i class="fa fa-calendar"></i> {{transactions.endDate}}</label>
                  </div>
                  </div>            
  
              <div class="form-group row">
                  <label class="col-sm-3 col-form-label" >Access Link</label>
                  <div class="col-sm-9">
                      <label class="col-form-label" style="font-weight:600;" for=""> <span *ngIf="transactions.product !== 'Askia'">Please Consult <a target="_blank" href="https://interpret.la/"> Interpret </a>Support Team</span> <span *ngIf="transactions.product === 'Askia'"><a target="_blank" href="http://ns131.askia.com/AskiaVista6/#">Click here to Access the Portal</a></span></label>
                  </div>
                </div>
                </div>
         </nb-card-body>
      </nb-card>
    </div>
  </div>
          