<nb-card-header>
  <span>Report</span>
  <div class="dropdown ghost-dropdown hide" ngbDropdown>
    <button type="button" class="btn btn-sm" ngbDropdownToggle
            [ngClass]="{
              'btn-success': currentTheme === 'default',
              'btn-primary': currentTheme !== 'default'}">
      {{ type }}
    </button>
    <ul ngbDropdownMenu class="dropdown-menu">
      <li class="dropdown-item" *ngFor="let period of types" (click)="changePeriod(period)">
        {{ period }}
      </li>
    </ul>
  </div>
</nb-card-header>
