<div class="row">
  <div class="col-md-12">
    <nb-card>
      <nb-card-header>Service History
        <div class="float-right">
          <label class="success">Status: <span><b *ngIf="messageStatus === 'Pending'" class="status-pending">Pending</b><b *ngIf="messageStatus === 'Resolved'" class="status-resolved">Resolved</b></span></label>
        </div>
        
      </nb-card-header>
      <nb-card-body>
        <div class="fixed-support-message-height">
        <div *ngFor="let message of messages">
          
          <div class="token-container user" *ngIf="!message.author">
            <p class="message-lighter"><span class="authorname"><strong>Me</strong></span>
            {{message.text}}
            <span class="time-right">{{message.time}}</span>
            </p>
        </div>

        <div class="token-container admin" *ngIf="message.author">
            <p class="message-darker"><span class="authorname"><strong>Admin</strong></span>
            {{message.text}}
            <span class="time-right">{{message.time}}</span>
            </p>
        </div>


          </div>
        </div> 
   
      <form (ngSubmit)="onSubmit(viewTokenForm)" *ngIf="messageStatus === 'Pending'" #viewTokenForm="ngForm" class="col-md-12 support-input-submit">           
          <div class="form-group row margin-top-1em">  
           <div class="col-md-12 padding-unset">  <hr/> <br /></div>             
              <div class="col-sm-11 padding-unset">                  
                <input type="text" class="form-control" nbInput ngModel name="text" id="message" placeholder="Message..." required>
              </div>
              <div class="col-sm-1"> 
                  <button nbButton fullWidth [disabled]="!viewTokenForm.valid"
                  type="submit" style="cursor: pointer" class="btn btn-success token-submit" status="success"><i class="nb-paper-plane"></i></button>
                </div>
          </div>
        </form>
      </nb-card-body>
    </nb-card>
   </div>
</div>
<toaster-container></toaster-container>
