.ngx-datepicker-container input[type="text"]
{
    width: 100% !important;
    padding: 0.75rem 1.125rem !important;
    color: #2a2a2a;
    background-color: #ffffff;
    border: 2px solid #dadfe6 !important;
    font-family: Roboto;
    border-radius: 0.375rem;  
}
.margin-unset
{
    margin:unset !important;
}
.padding-unset
{
    margin:unset !important;    
}
.ngx-datepicker-calendar-container
{
    z-index: 1;
}
#account-details-form
{
    overflow: visible;
}
.afu-dragndrop-box
{
    border: 2px dashed #dadfe6 !important;
    height: 5rem !important;
    width: 100% !important;
}
.afu-dragndrop-text
{
    color: #5c5b5b9c !important;
    margin-top: 1.6rem !important;
}
.afu-upload-btn
{
    cursor: pointer !important;
    width: 100% !important;
    background: #a3a5a5 !important;
    margin-bottom: 1em !important;
}
.nb-theme-default nb-menu .menu-item a:hover, .nb-theme-default nb-menu .menu-item a.active {
    Color: #f39200 !important;
}

.menu-items .nb-info
{
    font-size: 1.8rem !important;
    color: #a4abb3 !important;
}
.nmm-download-data tr:hover::before
{
        position: absolute;
        content: '';
        height: 100%;
        width: 6px;
        left: 0;
        top: 0;
        background-color: #40dc7e;
        border-radius: 0.375rem;
}
.nmm-download-data table td {
    padding: 0.75rem;
    vertical-align: top;
    color: #2a2a2a;
    font-size: 14px;
    border-top: unset !important;

}
.nmm-download-data tr
{
    list-style: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    height: 4.5rem;
    font-size: 1.25rem;
    position: relative;
    color: #a4abb3;
    padding: 1rem 1.25rem;
    border-bottom: 1px solid #ebeef2;
}
.nmm-download-data table td:nth-last-child(3)
{
    font-size: 14px;
height: auto;
}
.nmm-download-data table td:nth-last-child(4)
{
width: 25%;
font-size: 15px;
height: auto;
}
.nmm-download-data td button
{
    font-size:12px !important;
}
.nmm-download-data table td:nth-last-child(1) {
    width: 15%!important;
}
.nmm-download-data-status
{
    color: #f15858;
    font-size: 16px;
    font-weight: 500;
}
.center
{
    text-align:center;
}
.upload-profile-picture
{
    border-left: 3px solid #dadfe6;
    margin-left: 3%;
    text-align: center;
}
.upload-profile-picture-heading
{
    padding: 1.25rem;
    color: #2a2a2a;
    font-family: Exo;
    font-size: 1.125rem;
    font-weight: 600;
}
.upload-profile-picture img
{
    height: 90px;
/*    border: 1px solid #d6d2d2; border-radius: 50%; */ 
    margin: 2em 0;
}

.hide
{
    display:none !important;
}
.token-status-label-success
{
    background-color: #ffffff;
    font-weight: 800;
    color: #40dc7e;
    font-size: 14px; ;
}
.padding-right
{
    padding-right: unset !important;
}
.padding-left
{
    padding-left: unset !important;
}
.token-container {
    width: 40%;
    padding: unset;
    margin: 0 0;
}
/*.user
{
  margin-right:50%;
}
 */
 .user
{
  margin-left:60%;
}
.message-darker {
    border-color: #ccc !important;
    background-color: #ddd !important;
}
.message-lighter {
    float: right !important;
    border-color: #ccc !important;
    background-color: #f1f1f1 !important;
    border: 1px solid;
}
.token-container p {
    display:inline-block;
    clear:both;
    float:left;
    border-color: #ccc;
    /* background-color: #ddd !important; */
    margin: 10px 0 !important;
    border-radius: 5px;
    padding: 20px;
 }
 .token-container .authorname
 {
    display: block;
    margin-bottom: 7px;
 }
.token-container::after {
    content: "";
    clear: both;
    display: table;
}

.token-container img {
    float: left;
    max-width: 60px;
    width: 100%;
    margin-right: 20px;
    border-radius: 50%;
}

.token-container img.right {
    float: right;
    margin-left: 20px;
    margin-right:0;
}

.time-left, .time-right  {
    text-align: right;
    font-size: 11px;
    color: #999;
    clear: inherit;
    width: 100%;
    display: block;
    margin-top: 5px;
  }
  
.token-submit
{
    margin-left: -0.3em !important;
    width: 120%;
    padding: 0.9rem 1.125rem !important;
    margin-right: unset !important;
}
.afu-attach-pin
{
    width: 100% !important;
    color: #a0a2a5 !important;;
    background-color: #ffffff !important;;
    border: 2px solid #dadfe6 !important;;
    font-family: Roboto !important;;
    border-radius: unset !important;;
}
#attachedpin
{
    padding: 0.75rem 1.125rem !important;;
}
#attachPin > div
{
    padding-left: unset !important;
}
.attachment-link-label > a
{
    color: #3393e8 !important;
    vertical-align: -webkit-baseline-middle !important;
    font-size: 14px !important;    
}
.nb-theme-default .btn.btn-danger {
    background-color: #e63a57 !important;
}
.status-resolved
{
    color:#37bd6c !important;
    margin: 0 1em;
}
.status-pending
{
    color:#e63a57 !important;
    margin: 0 1em;
}