
<div class="row">
 <div class="col-md-12">
    <nb-card>
      <nb-card-header>My Account </nb-card-header>
      <nb-card-body id="account-details-form">
          

            <div class="form-group row">
                <label class="col-sm-3 col-form-label" >Tool Subscribed*</label>
                <div class="col-sm-9">
                    <select class="form-control" [(ngModel)]="user.toolsubscribed" class="form-control" name="toolsubscribed" autofocus fullWidth required >
                        <option value="" selected disabled hidden>Choose here</option>
                        <option value="Clear Decisions">Clear Decisions</option>
                        <option value="Askia">Askia</option>
                        <option value="Telmar">Telmar</option>
                        <option value="SPSS Data">SPSS Data</option>
                    </select>
                </div>
              </div>

              <div class="form-group row">
                  <label class="col-sm-3 col-form-label" >Subscription Period</label>
                  <div class="col-sm-9 row margin-unset">
                  <label class="col-sm-2 col-form-label" for="">Start*</label>
                  <!-- <ng-datepicker class="col-sm-4 padding-unset" [(ngModel)]="startDate" [ngModelOptions]="{standalone: true}" [options]="options" required></ng-datepicker> -->
                 <label class="col-sm-1 col-form-label" for="">&nbsp;</label>
                    <label class="col-sm-1 col-form-label" for="">End*</label>
                  <!-- <ng-datepicker class="col-sm-4 padding-unset"  [(ngModel)]="endDate" [ngModelOptions]="{standalone: true}" [options]="options" required></ng-datepicker> -->
                </div>
                </div>            

            <div class="form-group row">
                <label class="col-sm-3 col-form-label" >Access Link</label>
                <div class="col-sm-9">
                <input [(ngModel)]="user.accessLink" type="text" name="accessLink" class="form-control" placeholder="Access Link">
                </div>
              </div>
              
      </nb-card-body>
    </nb-card>
  </div>
</div>
