<div class="text-center logo"><img src="/assets/images/logo.png" alt=""> <span></span></div>

<nb-auth-block> <h2 class="title">Sign Up</h2> 
  <form (ngSubmit)="onSubmit(signupForm)" #signupForm="ngForm"> 

         <div class="form-group"> 
           <label for="input-name" class="sr-only">First name</label> 
           <input nbInput ngModel name="firstname" id="input-name" placeholder="First name" autofocus fullWidth required >

      </div>
      <div class="form-group"> 
        <label for="input-name" class="sr-only">Last name</label> 
        <input nbInput ngModel name="lastname" id="input-name" placeholder="Last name" autofocus fullWidth required >

   </div>

   <div class="form-group"> 
    <label for="input-name" class="sr-only">Username</label> 
    <input nbInput ngModel name="username" id="input-name" placeholder="Username" autofocus fullWidth required >

</div>

       <div class="form-group">
      <label for="input-email" class="sr-only">Email address</label> 
      <input nbInput ngModel id="input-email" name="email" pattern=".+@.+..+" placeholder="Email address" autofocus fullWidth required> </div>
         <div class="form-group">
      <label for="input-password" class="sr-only">Password</label> 
      <input nbInput ngModel name="password" type="password" id="input-password" name="password" placeholder="Password"
        fullWidth required>
     </div> <div class="form-group">
      <label for="input-re-password" class="sr-only">Repeat password</label> 
      <input nbInput ngModel name="cPassword" type="password" id="input-re-password" name="cpassword" placeholder="Confirm Password" fullWidth required></div> 

        <div class="form-group accept-group col-sm-12" > <nb-checkbox name="terms"
        ngModel name="terms" required> Agree to <a href="#"
          target="_blank"><strong>Terms & Conditions</strong></a> </nb-checkbox> </div> 
      
          <button nbButton style="cursor: pointer" status="success" fullWidth [disabled]="submitted || !signupForm.valid" [class.btn-pulse]="submitted">
      Register </button>
     </form> 
     <div class="links"> <ng-container *ngIf="socialLinks &&
      socialLinks.length> 0"> <small class="form-text">Or connect with:</small> <div class="socials">
        <ng-container *ngFor="let socialLink of socialLinks"> <a *ngIf="socialLink.link" [routerLink]="socialLink.link"
            [attr.target]="socialLink.target" [attr.class]="socialLink.icon" [class.with-icon]="socialLink.icon">{{
            socialLink.title }}</a> <a *ngIf="socialLink.url" [attr.href]="socialLink.url" [attr.target]="socialLink.target"
            [attr.class]="socialLink.icon" [class.with-icon]="socialLink.icon">{{ socialLink.title }}</a>
        </ng-container> </div> </ng-container> <small class="form-text"> Already have an account? <a
        routerLink="../login"> <strong>Sign in</strong></a> </small> </div> </nb-auth-block> 