.logo {
    padding: 0 nb-theme(padding);
    font-size: 2.75rem;
    margin-bottom: 20px;
    text-align: center;
    font-weight: nb-theme(font-weight-bolder);
    // @include nb-ltr(border-left, 1px solid nb-theme(separator));
    // @include nb-rtl(border-right, 1px solid nb-theme(separator));
    white-space: nowrap;
    img {
      max-width: 100%; 
     }

    span {
      font-weight: nb-theme(font-weight-normal);
    }
  }