<nb-reveal-card [showToggleButton]="false" [revealed]="revealed">
  <nb-card-front>
    <nb-card size="large">
      <ngx-traffic-cards-header></ngx-traffic-cards-header>
      <ngx-traffic-front-card [frontCardData]="trafficListData"></ngx-traffic-front-card>
    </nb-card>
  </nb-card-front>
</nb-reveal-card>
