// themes - our custom or/and out of the box themes
@import 'themes';

// framework component themes (styles tied to theme variables)
@import '~@nebular/theme/styles/globals';
@import '~@nebular/auth/styles/all';

// global app font size
@import './font-size';

// loading progress bar theme
@import './pace.theme';

@import './bootstrap-rtl';

@import '~angular2-toaster/src/toaster';

// install the framework and custom global styles
@include nb-install() {

  // framework global styles
  @include nb-theme-global();
  @include nb-auth-global();

  // loading progress bar
  @include ngx-pace-theme();

  // fixed in rc.9 and can be removed after upgrade
  .custom-control .custom-control-indicator {
    border-radius: 50%; // TODO: quickfix for https://github.com/akveo/nebular/issues/275
  }
  
.dragNDrop[_ngcontent-c14] .div1[_ngcontent-c14] {
  display: border-box !important;
  border: 2px dashed #dadfe6 !important;
  height: 5.2rem !important;
  width: 100% !important;
}
.nb-theme-default .text-danger {
  color: #ff6780 !important;
  display: inline-flex !important;
  font-size: 14px !important;
  margin-left: 1em !important;
}
.afu-upload-status
{ 
  display: inline-flex;
    font-size: 13px;
}
.afu-constraints-info, .afu-valid-file
{
  padding-top: 1em !important;
  margin: 0 1em !important;
  display: inline-flex !important;
}
.custom-upload #default
{
  padding:unset !important;
}


.token-container {
  width: 40%;
  padding: unset;
  margin: 0 0;
}
/*.user
{
margin-right:50%;
}
*/
.user
{
margin-left:60%;
}
.message-darker {
  border-color: #ccc !important;
  background-color: #ddd !important;
}
.message-lighter {
  float: right !important;
  border-color: #ccc !important;
  background-color: #f1f1f1 !important;
  border: 1px solid;
}
.token-container p {
  display:inline-block;
  clear:both;
  float:left;
  border-color: #ccc;
  /* background-color: #ddd !important; */
  margin: 10px 0 !important;
  border-radius: 5px;
  padding: 20px;
}
.token-container .authorname
{
  display: block;
  margin-bottom: 7px;
}
.token-container::after {
  content: "";
  clear: both;
  display: table;
}

.token-container img {
  float: left;
  max-width: 60px;
  width: 100%;
  margin-right: 20px;
  border-radius: 50%;
}

.token-container img.right {
  float: right;
  margin-left: 20px;
  margin-right:0;
}

.time-left, .time-right  {
  text-align: right;
  font-size: 11px;
  color: #999;
  clear: inherit;
  width: 100%;
  display: block;
  margin-top: 5px;
}

.token-submit
{
  margin-left: -0.3em !important;
  width: 120%;
  padding: 0.9rem 1.125rem !important;
  margin-right: unset !important;
}
.support-input-submit input[type=text]
{
  width: 100% !important;
}
.margin-top-1em
{
    margin-top:2em;
}
.user p, .admin p
{
  margin: 0.3em 1em !important;
}
.padding-unset
{
    padding:unset !important;
}
  @include bootstrap-rtl();
};



.nmm-download-data li  {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 4.5rem;
  font-size: 1.25rem;
  position: relative;
  color: #a4abb3;
  padding: 1rem 1.25rem;
  border-bottom: 1px solid #ebeef2;
}
.nmm-download-data li:hover::before
{
  position: absolute;
  content: '';
  height: 100%;
  width: 6px;
  left: 0;
  top: 0;
  background-color: #40dc7e;
  border-radius: 0.375rem;
}
