<div class="header-container"
     [class.left]="position === 'normal'"
     [class.right]="position === 'inverse'">
  <div class="logo-containter">
    <a (click)="toggleSidebar()" href="#" class="navigation"><i class="nb-menu"></i></a>
    <img src="/assets/images/logo.png" alt="">
 </div>
  <!-- <ngx-theme-switcher></ngx-theme-switcher> -->
</div>

<div class="header-container">
  <ngx-layout-direction-switcher class="hide"></ngx-layout-direction-switcher>
  <nb-actions
    size="medium"
    [class.right]="position === 'normal'"
    [class.left]="position === 'inverse'">
    <nb-action icon="nb-gear" class="toggle-layout hide" (click)="toggleSettings()"></nb-action>
    <nb-action *nbIsGranted="['view', 'user']" >
      <nb-user [nbContextMenu]="userMenu" [name]="user?.firstName+' '+user?.lastName" [picture]="user?.photoUrl"></nb-user>
    </nb-action>
    <nb-action class="control-item hide" disabled icon="nb-notifications"></nb-action>
    <nb-action class="control-item hide" icon="nb-email"></nb-action>
    <nb-action class="control-item">
      <nb-search type="rotate-layout" (click)="startSearch()"></nb-search>
    </nb-action>
  </nb-actions>
</div>
