<style>
  #dash-cards h2{
  text-transform: uppercase;
  color:333;
  font-size: 14px;
  letter-spacing: 5px;
  }
  .dashboard-cards h2
{
padding: 1em 9px;
font-weight: 800;
font-size: 25px;
text-align: center;
color: white;
background: #00BCD4;
}
.dashboard-cards
{ 
min-height:250px;
background:#fff;
box-shadow:0 20px 50px rgba(0,0,0,.1);
border-radius:10px;
transition:0.5s;
text-align: center;
align-items: center;
}
.dashboard-cards span
{
font-size: 4em;
font-weight: 800;
text-align: center;
padding-top: 30px;
display: block;
}
.zoom:hover {
    transform: scale(1.2); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}
  </style>

<div class="row">
  <div class="col-md-12">
    <form (ngSubmit)="onSubmit(supportSystemForm)" #supportSystemForm="ngForm" class="col-md-8">

      <div class="container-fluid">
        <div class="row">
          <div class="form-group" (click)="changecategory(count.name)" *ngFor="let count of products">
            <div id="dash-cards" class="col-md-12" style="width:300px; padding: 30px;">
              <div class="">
                <div class="dashboard-cards zoom" style="cursor: pointer;">
                  <h2>{{ count.name }}</h2>
                  <span></span>
                </div>
              </div>

            </div>
          </div>
        </div>
      </div>



      <div class="row">
        <div class="col-md-4" (click)="changecategory(count.name)" *ngFor="let city of categories">

          <nb-card>
            <nb-card-body>
              <div class="progress-info" >
                <div>
                  <i></i>
                </div>
                <div>
                  <div class="title">{{ city }}</div>

                </div>
              </div>
            </nb-card-body>
          </nb-card>
        </div>
      </div>

      <div style="padding-left: 30px;">
        <div class="form-group row" >
          <!-- <label for="description" class="col-sm-3 col-form-label">Description</label> -->
          <div class="col-sm-10">
            <textarea rows="6" class="form-control" nbInput ngModel name="description" id="description" placeholder="Descriptions"></textarea>
          </div>
        </div>
        <div class="form-group row">
          <!-- <label for="attachment" class="col-sm-3 col-form-label">Attachment </label> -->
          <div class="col-sm-10" style="margin-top:10px;">
            <p>Click to add attachment</p>
            <angular-file-uploader *ngIf="!uploadRunning && !downloadUrl" [config]="afuConfig" (change)="captureFile($event)"></angular-file-uploader>
            <div *ngIf="uploadRunning" class="progress">
              <div class="progress-bar progress-bar-success progress-bar-striped" role="progressbar" [attr.aria-valuenow]="progress"
                aria-valuemin="0" aria-valuemax="100" style="min-width: 2em;" [style.width]="(progress/100)*100 + '%'">
                {{progress | ngxRound}}%
              </div>
            </div>
            <div *ngIf="!uploadRunning && downloadUrl"><a [href]="downloadUrl" class="attachment-link-label">Attachment
                Link</a>
              <div>
                <span (click)="removeattachment()" style="cursor: pointer;">X</span>
              </div>
            </div>
          </div>
        </div>
      </div>





      <div class="form-group row">
        <div class="offset-sm-2 col-sm-9">
          <button nbButton status="success" fullWidth [disabled]="!supportSystemForm.valid" type="submit" style="cursor: pointer"
            class="btn btn-success offset-sm-4 col-sm-3" status="success">Submit</button>
          <a [routerLink]="['/pages/token']" class="offset-sm-1 col-sm-3">
            <button class="btn btn-danger" style="cursor: pointer">Cancel</button></a>
        </div>
      </div>
    </form>
    <!-- <nb-card>
      <nb-card-header>Submit Support Request</nb-card-header>
      <nb-card-body>
        
      </nb-card-body>
    </nb-card> -->
  </div>
</div>