<nb-card>
  <nb-card-header>
    Download NMM Data
    <button type="submit" class="btn btn-primary float-right">Export Data</button>
  </nb-card-header>

  <nb-card-body>
    <ng2-smart-table [settings]="settings" [source]="source" (deleteConfirm)="onDeleteConfirm($event)">
    </ng2-smart-table>
  </nb-card-body>
</nb-card>
