<div class="text-center logo"><img src="/assets/images/logo.png" alt=""> <span></span></div>
<br />
<nb-auth-block> <h2 class="title">Sign In</h2> <small class="form-text sub-title">Hello! Sign in with your
    email</small> 
    <form (ngSubmit)="onSubmit(loginForm)" #loginForm="ngForm" autocomplete="nope"> 
   
      <div class="form-group"> <label for="input-email"
        class="sr-only">Email address</label> 
        <input nbInput ngModel name="email" id="input-email" pattern=".+@.+..+" placeholder="Email address" autofocus
        fullWidth required></div> 
      <div class="form-group">
      <label for="input-password" class="sr-only">Password</label> <input nbInput ngModel name="password"
     name="password" type="password" id="input-password" placeholder="Password"
        fullWidth required >
         </div> <div class="form-group
      accept-group col-sm-12"> <!-- <nb-checkbox name="rememberMe" ngModel name="rememberMe">Remember me</nb-checkbox> -->
      <!-- <a class="forgot-password" routerLink="../request-password">Forgot Password?</a>  -->
    </div> 
      
      <button nbButton status="success" fullWidth [disabled]="submitted || !loginForm.valid" [class.btn-pulse]="submitted">
        Sign In </button> 
      
      </form> 
      
      <div class="links"> <ng-container *ngIf="socialLinks &&
      socialLinks.length> 0"> <small class="form-text">Or connect with:</small> <div class="socials">
        <ng-container *ngFor="let socialLink of socialLinks"> <a *ngIf="socialLink.link" [routerLink]="socialLink.link"
            [attr.target]="socialLink.target" [attr.class]="socialLink.icon" [class.with-icon]="socialLink.icon">{{
            socialLink.title }}</a> <a *ngIf="socialLink.url" [attr.href]="socialLink.url" [attr.target]="socialLink.target"
            [attr.class]="socialLink.icon" [class.with-icon]="socialLink.icon">{{ socialLink.title }}</a>
        </ng-container> </div> </ng-container> <small class="form-text"> Don't have an account? <a
        routerLink="/auth/register"> <strong>Sign Up</strong></a> </small> </div> </nb-auth-block> 