<div class="row hide">
  <div class="col-md-12">
    <nb-card class="inline-form-card">
      <nb-card-header>Get Notification</nb-card-header>
      <nb-card-body>
        <form class="form-inline">
          <input type="text" class="form-control full-width" placeholder="Jane Doe">
          <div class="input-group full-width">
            <div class="input-group-addon">@</div>
            <input type="text" class="form-control" placeholder="Email">
          </div>
          <nb-checkbox>Remember me</nb-checkbox>
          <button style="cursor: pointer" type="submit" class="btn btn-primary">Submit</button>
        </form>
      </nb-card-body>
    </nb-card>
  </div>
</div>

<div class="row">
 <div class="col-md-12">
    <nb-card>
      <nb-card-header>My Account </nb-card-header>
      <nb-card-body id="account-details-form">
        <form (ngSubmit)="onSubmit(accountDetailsForm)" #accountDetailsForm="ngForm" class="row">
            <div class="col-md-6">
               <div class="form-group row">
                <label class="col-sm-3 col-form-label" for="firstName" >First Name</label>
                <div class="col-sm-9">
                <input [(ngModel)]="user.firstName" type="text" name="firstName" class="form-control" placeholder="First Name">
                </div>
              </div>
              <div class="form-group row">
                  <label class="col-sm-3 col-form-label" >Last Name</label>
                  <div class="col-sm-9">
                  <input [(ngModel)]="user.lastName" type="text" name="lastName" class="form-control" placeholder="Last Name">
                  </div>
                </div>

             <div class="form-group row">
                <label class="col-sm-3 col-form-label" >Email-id</label>
                <div class="col-sm-9">
                    <div class="input-group full-width">
                        <!-- <div class="input-group-addon">@</div> -->
                        <input [(ngModel)]="user.email" type="email" name="email" class="form-control" placeholder="Email" readonly>
                    </div>                    
                </div> 
              </div>

            <div class="form-group row">
                <label class="col-sm-3 col-form-label" >Account Name</label>
                <div class="col-sm-9">
                    <select selected="selected" class="form-control" name="client" [(ngModel)]="user.client">
                  <option *ngFor="let client of detailsofclient" [ngValue]="client.accountName">
                    {{client.accountName}}
                  </option>
                </select>
              </div>
              </div>
              <div class="form-group row">
                  <label for="user.street" class="col-sm-3 col-form-label">Street</label>
                    <div class="col-sm-9">
                        <input [(ngModel)]="user.street" type="text" name="street" class="form-control" placeholder="Street">
                    </div>             
                </div> 
              <div class="form-group row">               
                  <label for="user.suite" class="col-sm-3 col-form-label">Suite</label>
                  <div class="col-sm-9">
                      <input [(ngModel)]="user.suite" type="text" name="suite" class="form-control" placeholder="Suite">
                    <br />
                    <div class="form-group row">
                        <div class="col-sm-4">
                            <input type="text" class="form-control" nbInput name="city" [(ngModel)]="user.city" placeholder="City" >
                          </div>
                          <div class="col-sm-4">
                              <select class="form-control" name="state" [(ngModel)]="user.state" >
                                  <option value="AL">Alabama</option>
                                  <option value="AK">Alaska</option>
                                  <option value="AZ">Arizona</option>
                                  <option value="AR">Arkansas</option>
                                  <option value="CA">California</option>
                                  <option value="CO">Colorado</option>
                                  <option value="CT">Connecticut</option>
                                  <option value="DE">Delaware</option>
                                  <option value="DC">District of Columbia</option>
                                  <option value="FL">Florida</option>
                                  <option value="GA">Georgia</option>
                                  <option value="HI">Hawaii</option>
                                  <option value="ID">Idaho</option>
                                  <option value="IL">Illinois</option>
                                  <option value="IN">Indiana</option>
                                  <option value="IA">Iowa</option>
                                  <option value="KS">Kansas</option>
                                  <option value="KY">Kentucky</option>
                                  <option value="LA">Louisiana</option>
                                  <option value="ME">Maine</option>
                                  <option value="MD">Maryland</option>
                                  <option value="MA">Massachusetts</option>
                                  <option value="MI">Michigan</option>
                                  <option value="MN">Minnesota</option>
                                  <option value="MS">Mississippi</option>
                                  <option value="MO">Missouri</option>
                                  <option value="MT">Montana</option>
                                  <option value="NE">Nebraska</option>
                                  <option value="NV">Nevada</option>
                                  <option value="NH">New Hampshire</option>
                                  <option value="NJ">New Jersey</option>
                                  <option value="NM">New Mexico</option>
                                  <option value="NY">New York</option>
                                  <option value="NC">North Carolina</option>
                                  <option value="ND">North Dakota</option>
                                  <option value="OH">Ohio</option>
                                  <option value="OK">Oklahoma</option>
                                  <option value="OR">Oregon</option>
                                  <option value="PA">Pennsylvania</option>
                                  <option value="RI">Rhode Island</option>
                                  <option value="SC">South Carolina</option>
                                  <option value="SD">South Dakota</option>
                                  <option value="TN">Tennessee</option>
                                  <option value="TX">Texas</option>
                                  <option value="UT">Utah</option>
                                  <option value="VT">Vermont</option>
                                  <option value="VA">Virginia</option>
                                  <option value="WA">Washington</option>
                                  <option value="WV">West Virginia</option>
                                  <option value="WI">Wisconsin</option>
                                  <option value="WY">Wyoming</option>
                                  </select>
                            </div>
                            <div class="col-sm-4">
                              <input oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"
                             type="number" pattern="\d*" maxlength="5" class="form-control" nbInput name="ZIP" [(ngModel)]="user.ZIP" placeholder="ZIP" >
                          </div>
                    </div>                    
                  </div>                
              </div> 
              <hr />

              <div class="form-group row">
                <label class="col-sm-3 col-form-label" >LinkedIn Profile</label>
                <div class="col-sm-9">
                <input [(ngModel)]="user.linkedIn" type="text" name="linkedIn" class="form-control" placeholder="LinkedIn Profile">
                </div>
              </div>
          

              <div class="form-group row">
                  <div class="offset-sm-3 col-sm-9">
                    <br />
                      <button style="cursor: pointer" nbButton status="success" fullWidth [disabled]="!accountDetailsForm.valid" type="submit" class="btn btn-success offset-sm-8 col-sm-4">Submit</button>
                  </div>
                </div>
                </div>
                <div class="col-md-4 upload-profile-picture">
                  <div class="form-group row ">               
                  <label for="attachment" class="col-sm-6 offset-sm-4 col-form-label center upload-profile-picture-heading">Add Profile Photo </label>
                  <div class="col-sm-6 offset-sm-4">
                     <img style="border-radius: 0px;  height:192px; width:192px;"  [src]="user.avatarUrl? user.avatarUrl:'http://chennai.igtcindia.com/wp-content/images/user-dummy-pic.png'">
                  </div>
                  <div class="col-sm-6 offset-sm-4">
                      <angular-file-uploader *ngIf="!uploadRunning" [config]="afuConfig" (change)="captureFile($event)" ></angular-file-uploader>
                      <div *ngIf="uploadRunning" class="progress">
                        <div class="progress-bar progress-bar-success progress-bar-striped" role="progressbar"
                          [attr.aria-valuenow]="progress" aria-valuemin="0" aria-valuemax="100" style="min-width: 2em;"
                          [style.width]="(progress/100)*100 + '%'">
                          {{progress | ngxRound}}%
                        </div>
                      </div>
                      <!-- <div *ngIf="!uploadRunning && downloadUrl"><a [href]="downloadUrl">Attachment Link</a></div> -->
                   
                  </div>
              </div>
            </div>         
        </form>        
      </nb-card-body>
    </nb-card>
  </div>
</div>
<toaster-container></toaster-container>