
<nb-card>
  <nb-card-header>
    Download NMM Data
    <!-- <div class="float-right">
        <button [routerLink]="['/user/token/new']" class="btn btn-sm btn-success" >Add New</button>
      </div> -->
  </nb-card-header>

  <nb-card-body>         
    <ng2-smart-table [settings]="settings" [source]="source">
   </ng2-smart-table>
  </nb-card-body>
  
</nb-card>

