<nb-card>
  <nb-card-header>
    Support System
    <div class="float-right">
        <button style="cursor: pointer" [routerLink]="['/user/token/new']" class="btn btn-sm btn-success" >Add New</button>
      </div>
  </nb-card-header>

  <nb-card-body>         
    <ng2-smart-table style="cursor: pointer;" [settings]="settings" [source]="source"     
    (userRowSelect)="rowSelected($event)">
   </ng2-smart-table>
  </nb-card-body>
  
</nb-card>
